.student-item {
  display: flex;
  //justify-content: space-around;
  justify-content: space-between;
  padding: 0 1rem;
}

.student-item:hover {
  box-shadow: -1px 2px 8px #888888;
}

.user-courses {
  text-align: left;
  .course-item {
    .header::before {
      content: '📖';
      padding-right: 1rem;
    }
  }
}
